<section class="detailsOtherPet">
    <h3>{{pet.name}}</h3>
    <p>Pet counter: {{pet.likes}} <a href="#/upVote/{{pet._id}}"><button class="button"><i class="fas fa-heart"></i>
                {{category}}</button></a>
    </p>
    <p class="img"><img src="{{pet.imageURL}}"></p>
    <p class="description">{{pet.description}}</p>
</section>