{{#each pets}}
    <section class="myPet">
        <h3>Name: {{name}}</h3>
        <p>Category: Cat</p>
        <p class="img"><img src="{{imageURL}}"></p>
        <p class="description">{{description}}</p>
        <div class="pet-info">
            <a href="#/edit/{{_id}}"><button class="button">Edit</button></a>
            <a href="#/delete/{{_id}}"><button class="button">Delete</button></a>
            <i class="fas fa-heart"></i> <span>{{likes}}</span>
        </div>
    </section>
{{/each}}
